# This is a example .env file for the eQOURSE Backend project. Please copy this file to a new file named .env and fill in the required values.

PORT=5000
MONGO_URI=your_mongodb_connection_string
GROQ_API_KEY=your_groq_api_key